@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham_bold.woff2") format("woff2"), url("../fonts/gotham_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham_medium.woff2") format("woff2"), url("../fonts/gotham_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham_book.woff2") format("woff2"), url("../fonts/gotham_book.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Gotham", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

a {
  text-decoration: none !important;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .header,
.wrapper .footer {
  flex-shrink: 0;
}
.wrapper main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 40px;
  padding-right: 30px;
}
.container--header {
  max-width: 1360px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  padding-top: 12px;
}
.header_top {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 0 25px;
  padding-bottom: 10px;
}
.header_logo {
  width: 90px;
  height: 90px;
  justify-content: flex-start;
}
.header_logo img {
  max-width: initial;
}
.header_adress {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 474px;
  margin-right: 13px;
}
.header_city {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
}
.header_cityName {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1d1d1b;
}
.header_adressItem {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #646360;
}
.header_phoneList {
  display: flex;
  gap: 42px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.header_phoneItem a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1d1d1b;
  transition: 0.3s ease;
}
.header_phoneItem a:hover, .header_phoneItem a:focus {
  opacity: 0.8 !important;
}
.header_otherContacts {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.header_email {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1d1d1b;
  margin-right: 20px;
}
.header_socialsLinks {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}
.header_socialsLinks a:focus,
.header_socialsLinks a:hover {
  transition: all 0.3s ease;
  opacity: 0.6;
}
.header_callBack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0.5px solid #1d1d1b;
  padding: 8px 15px;
  width: 202px;
  height: 35px;
  margin-left: 16px;
  margin-top: -5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: rgb(29, 29, 27);
  transition: all 0.3s ease;
  background: none;
  cursor: pointer;
  box-shadow: 0 0 9px 0 rgba(158, 42, 42, 0.4), 0 2px 7px -19px #9e2a2a, 0 2px 4px -2px rgba(222, 182, 41, 0.59);
}
.header_callBack:focus, .header_callBack:hover {
  opacity: 0.8;
}
.header_userIcons {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}
.header_userIcons a:focus,
.header_userIcons a:hover {
  transition: all 0.3s ease;
  opacity: 0.6;
}
.header_bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-left: 25px;
}
.header_productionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  width: 230px;
  height: 56px;
  box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.32), 0 6px 19px -19px rgba(158, 42, 42, 0.53), 0 2px 2px -2px rgba(222, 182, 41, 0.6);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(90deg, #deb629, #9e2a2a);
  transition: all 0.3s ease;
}
.header_productionBtn:hover, .header_productionBtn:focus {
  opacity: 0.7;
}
.header_navList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -15px;
}
.header_navItem {
  padding: 5px 20px;
  padding-right: 35px;
  border-left: 1px solid #cea56a;
  margin-top: 15px;
  transition: all 0.3s ease;
}
.header_navItem:hover, .header_navItem:focus {
  opacity: 0.7;
}
.header_navItem:first-of-type {
  border: 0;
}
.header_navItem:nth-of-type(6) {
  border: 0;
}
@media (max-width: 1360px) {
  .header_navItem {
    border: 0;
  }
}
.header_navLink {
  display: flex;
  align-items: baseline;
  gap: 15px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #646360;
}

.footer {
  width: 100%;
  background-color: #1d1d1b;
  background-image: url("../img/footer/bg-footer.svg");
  background-position: center;
  background-repeat: repeat;
  min-height: 271px;
  color: #ffffff;
  padding: 75px 0;
}
.footer_top {
  display: flex;
  flex-wrap: wrap;
  padding-left: 17px;
}
@media (max-width: 1200px) {
  .footer_top {
    gap: 50px;
  }
}
.footer_socials {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 30px;
  transition: all 0.3s ease;
}
.footer_socials a:hover, .footer_socials a:focus {
  opacity: 0.7;
}
.footer_email {
  display: block;
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #fff;
  transition: all 0.3s ease;
}
.footer_email:hover, .footer_email:focus {
  opacity: 0.7;
}
.footer_topTitle {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 5px;
}
.footer_links--first {
  margin-left: 125px;
}
@media (max-width: 1200px) {
  .footer_links--first {
    margin-left: 0;
  }
}
.footer_links--second {
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .footer_links--second {
    margin-left: 0;
  }
}
.footer_links--third {
  margin-left: 125px;
}
@media (max-width: 1200px) {
  .footer_links--third {
    margin-left: 0;
  }
}
.footer_linksList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.footer_linkItem {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #fff;
  transition: all 0.3s ease;
}
.footer_linkItem:hover, .footer_linkItem:focus {
  opacity: 0.7;
}
.footer_bottom {
  padding-top: 80px;
  display: flex;
  gap: 345px;
  padding-left: 20px;
}
.footer_city {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.footer_adressItem {
  margin-top: 11px;
  color: rgb(100, 99, 96);
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
}
.footer_phoneList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  list-style: none;
}
.footer_phoneLink {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #fff;
  transition: all 0.3s ease;
}
.footer_phoneLink:hover, .footer_phoneLink:focus {
  opacity: 0.7;
}

.pageInfo {
  position: relative;
  margin-top: 16px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.pageInfo_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
}
.pageInfo_bg img {
  -o-object-fit: fill;
     object-fit: fill;
}
.pageInfo_textWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 400px;
  padding-left: 20px;
}
.pageInfo_title {
  margin-top: 103px;
  position: relative;
  z-index: 2;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 70px;
  line-height: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.pageInfo_description {
  margin-top: 25px;
  position: relative;
  max-width: 1040px;
  z-index: 2;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.03em;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.breadcrumbs_link {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #646360;
  margin-right: 3px;
}
.breadcrumbs_currentPage {
  display: block;
  margin-left: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #1d1d1b;
}

.productTabs {
  margin-top: 0;
  display: flex;
  gap: 65px;
  align-items: flex-start;
  margin-bottom: 10px;
}
.productTabs_count {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.productTabs_countValue {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #646360;
}
.productTabs_countLabel {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #ddd;
}
.productTabs_list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.productTabs_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #ddd;
  padding: 5px 23px;
  box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #646360;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productTabs_btn:hover {
  opacity: 0.7;
}
.productTabs_btn--active {
  border: 1.5px solid #cea56a;
  box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
  background: rgba(206, 165, 106, 0.2);
  color: #1d1d1b;
  pointer-events: none;
}

.catalog {
  display: grid;
  grid-template-columns: 185px 1fr;
  -moz-column-gap: 46px;
       column-gap: 46px;
  margin-top: 33px;
  padding-bottom: 200px;
}
.catalog_sidebar {
  display: flex;
  flex-direction: column;
}
.catalog_sidebar h3 {
  margin-top: 0;
}
.catalog_sort {
  display: flex;
  gap: 15px;
}
.catalog_sortLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #646360;
}
.catalog_header {
  display: flex;
  align-items: center;
  gap: 5px;
}
.catalog_sortList {
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog_sortItem {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #646360;
}
.catalog_sortItem--active {
  font-weight: 700;
  color: #1d1d1b;
}
.catalog_gridIcons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}
.catalog_gridBtn {
  color: #dddddd;
  background: none;
  border: none;
  cursor: pointer;
}
.catalog_gridBtn--active {
  color: #cea56a;
}
.catalog_list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  list-style: none;
  margin: 0;
  margin-top: 22px;
  padding: 0;
}
.catalog_item {
  width: 320px;
  min-height: 512px;
}
.catalog_link {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
  background: #fff;
  transition: all ease;
}
.catalog_link:hover {
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.catalog_link:hover .catalog_hoverFrame {
  transform: translateY(-50%) scale(1);
}
.catalog_textContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 15px;
}
.catalog_priceRow {
  position: relative;
  width: 100%;
  padding-right: 30px;
}
.catalog_hoverFrame {
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #cea56a;
  box-shadow: 4px 8px 20px 0 rgba(67, 65, 56, 0.3);
  background: #fff;
  border: 1px solid #cea56a;
  padding: 20px 51px;
  width: 320px;
  min-height: 88px;
  transition: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  line-height: normal;
  vertical-align: middle;
}
.catalog_hoverFrame svg {
  position: absolute;
  right: 92px;
  bottom: 21px;
  padding-top: 0;
}
.catalog_price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  color: #cea56a;
}
.catalog_favouritesBtn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.catalog_favouritesBtn:hover {
  opacity: 0.7;
}
.catalog_name {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1d1d1b;
}
.catalog_article {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #646360;
}
.catalog_orderBtn {
  margin-top: 10px;
  padding: 8px 16px;
  width: 178px;
  min-height: 35px;
  box-shadow: inset 0 0 16px 0 rgba(158, 42, 42, 0.3), 0 4px 9px -19px rgba(158, 42, 42, 0.3), 0 2px 2px -2px rgba(222, 182, 41, 0.6);
  background: #cea56a;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  border: none;
}
.catalog .ac .ac-trigger {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  font-family: var(--font-family);
  color: #1d1d1b;
}
.catalog .ac .ac-trigger:focus {
  color: #1d1d1b;
}
.catalog_checkboxList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog_clearFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  background: none;
  border: none;
}
.catalog_clearFilters span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: #646360;
}
.catalog_clearFilters svg {
  width: 28px;
  height: 28px;
}
.catalog_pagination {
  display: flex;
  gap: 7px;
  align-items: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 102px;
  margin-left: auto;
  margin-right: auto;
}
.catalog_paginationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #1d1d1b;
}
.catalog_paginationItem--active {
  border-bottom: 2px solid #cea56a;
}

.custom-checkbox {
  padding: 0 8px;
}
.custom-checkbox label {
  display: flex;
  padding: 4px 8px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  font-family: var(--font-family);
  color: #646360;
}
.custom-checkbox input:checked + label {
  background: #cea56a;
  color: #fff;
}

.productCard {
  padding-top: 50px;
  padding-bottom: 80px;
}
.productCard_favorite {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
.productCard_favoriteBtn {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  border: 0;
  background: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #646360;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productCard_favoriteBtn:hover {
  opacity: 0.7;
}
.productCard_container {
  display: grid;
  grid-template-columns: 578px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-top: 80px;
}
.productCard_right, .productCard_left {
  display: flex;
  flex-direction: column;
}
.productCard_name {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1d1d1b;
}
.productCard_article {
  display: flex;
  margin-top: 30px;
}
.productCard_articleText, .productCard_articleValue {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #646360;
}
.productCard_articleValue {
  margin-left: 4px;
}
.productCard_copyBtn {
  margin-left: 7px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productCard_copyBtn:hover {
  opacity: 0.7;
}
.productCard_price {
  margin-top: 25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #cea56a;
}
.productCard_countButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}
.productCard_decrementBtn, .productCard_incrementBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 4px 12px;
  width: 48px;
  height: 32px;
  background: #fff;
}
.productCard_countValue {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  padding: 3px 0px;
  width: 40px;
  height: 33px;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #cea56a;
}
.productCard_orderBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.32), 0 6px 19px -19px rgba(158, 42, 42, 0.53), 0 2px 2px -2px rgba(222, 182, 41, 0.6);
  background-image: linear-gradient(90deg, #deb629, #9e2a2a);
  transition: all 0.3s ease;
  padding: 12px 32px;
  width: 278px;
  min-height: 56px;
  border: 0;
  cursor: pointer;
  margin-top: 25px;
}
.productCard_orderBtn:hover, .productCard_orderBtn:focus {
  opacity: 0.7;
}
.productCard_description {
  margin: 0;
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #1d1d1b;
  max-width: 451px;
  margin-bottom: 100px;
}
.productCard_subTitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: #1d1d1b;
  border-bottom: 2px solid #cea56a;
  width: -moz-fit-content;
  width: fit-content;
}
.productCard_linksList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  list-style: none;
}
.productCard_link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #646360;
  border: 0.5px solid #1d1d1b;
  padding: 8px 18px;
  width: 337px;
  min-height: 81px;
  box-shadow: inset 0 0 4px 0 rgba(158, 42, 42, 0.4), 0 2px 7px -19px #9e2a2a, 0 2px 4px -2px rgba(222, 182, 41, 0.59);
  transition: all 0.3s ease;
}
.productCard_link svg {
  margin-top: -7px;
}
.productCard_link:hover {
  opacity: 0.7;
}
.productCard_specificationsList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}
.productCard_specificationsItem {
  display: grid;
  grid-template-columns: 210px 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.productCard_specificationsLabel {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #cea56a;
}
.productCard_specificationsValue {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #646360;
}/*# sourceMappingURL=style.css.map */