@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-450 {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin vp-375 {
  @media (max-width: 375px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue: #2c39f2;
$color-torch-red: #ff1553;
$color-dodger-blue: #0087ea;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;

  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham_bold.woff2') format('woff2'),
    url('../fonts/gotham_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham_medium.woff2') format('woff2'),
    url('../fonts/gotham_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham_book.woff2') format('woff2'),
    url('../fonts/gotham_book.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Gotham', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;

  background-color: #ffffff;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

a {
  text-decoration: none !important;
}

.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 40px;
  padding-right: 30px;

  &--header {
    max-width: 1360px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  padding-top: 12px;

  &_top {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 0 25px;
    padding-bottom: 10px;
  }

  &_logo {
    width: 90px;
    height: 90px;
    justify-content: flex-start;

    img {
      max-width: initial;
    }
  }

  &_adress {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 474px;
    margin-right: 13px;
  }

  &_city {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &_cityName {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #1d1d1b;
  }

  &_adressItem {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #646360;
  }

  &_phoneList {
    display: flex;
    gap: 42px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
  }

  &_phoneItem {
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: #1d1d1b;
      transition: $trans-default;

      &:hover,
      &:focus {
        opacity: 0.8 !important;
      }
    }
  }

  &_otherContacts {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }

  &_email {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #1d1d1b;
    margin-right: 20px;
  }

  &_socialsLinks {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;

    a:focus,
    a:hover {
      transition: all $trans-default;
      opacity: 0.6;
    }
  }

  &_callBack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0.5px solid #1d1d1b;
    padding: 8px 15px;
    width: 202px;
    height: 35px;
    margin-left: 16px;
    margin-top: -5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgb(29, 29, 27);
    transition: all $trans-default;
    background: none;
    cursor: pointer;
    box-shadow: 0 0 9px 0 rgba(158, 42, 42, 0.4), 0 2px 7px -19px #9e2a2a,
      0 2px 4px -2px rgba(222, 182, 41, 0.59);

    &:focus,
    &:hover {
      opacity: 0.8;
    }
  }

  &_userIcons {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;

    a:focus,
    a:hover {
      transition: all $trans-default;
      opacity: 0.6;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-left: 25px;
  }

  &_productionBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    width: 230px;
    height: 56px;
    box-shadow: inset 0 0 9px 0 rgba(255, 255, 255, 0.32),
      0 6px 19px -19px rgba(158, 42, 42, 0.53),
      0 2px 2px -2px rgba(222, 182, 41, 0.6);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(90deg, #deb629, #9e2a2a);
    transition: all $trans-default;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &_navList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: -15px;
  }

  &_navItem {
    padding: 5px 20px;
    padding-right: 35px;
    border-left: 1px solid #cea56a;
    margin-top: 15px;

    transition: all $trans-default;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:first-of-type {
      border: 0;
    }

    &:nth-of-type(6) {
      border: 0;
    }

    @media (max-width: 1360px) {
      border: 0;
    }
  }

  &_navLink {
    display: flex;
    align-items: baseline;
    gap: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #646360;
  }
}

.footer {
  width: 100%;
  background-color: #1d1d1b;
  background-image: url('../img/footer/bg-footer.svg');
  background-position: center;
  background-repeat: repeat;
  min-height: 271px;
  color: #ffffff;
  padding: 75px 0;

  &_top {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17px;

    @media (max-width: 1200px) {
      gap: 50px;
    }
  }

  &_socials {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
    transition: all $trans-default;

    a {
      &:hover,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  &_email {
    display: block;
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #fff;
    transition: all $trans-default;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &_topTitle {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px;
  }

  &_links {
    &--first {
      margin-left: 125px;

      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }

    &--second {
      margin-left: 10px;

      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }

    &--third {
      margin-left: 125px;

      @media (max-width: 1200px) {
        margin-left: 0;
      }
    }
  }

  &_linksList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }

  &_linkItem {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #fff;

    transition: all $trans-default;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &_bottom {
    padding-top: 80px;
    display: flex;
    gap: 345px;
    padding-left: 20px;
  }

  &_city {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 20px;
  }

  &_adressItem {
    margin-top: 11px;
    color: rgb(100, 99, 96);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
  }

  &_phoneList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
    margin-top: -30px;
    padding: 0;
    list-style: none;
  }

  &_phoneLink {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #fff;
    transition: all $trans-default;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}

.pageInfo {
  position: relative;
  margin-top: 16px;
  height: 400px;
  display: flex;
  flex-direction: column;

  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;

    img {
      object-fit: fill;
    }
  }

  &_textWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 400px;
    padding-left: 20px;
  }

  &_title {
    margin-top: 103px;
    position: relative;
    z-index: 2;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 70px;
    line-height: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }

  &_description {
    margin-top: 25px;
    position: relative;
    max-width: 1040px;
    z-index: 2;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &_link {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #646360;
    margin-right: 3px;
  }

  &_currentPage {
    display: block;
    margin-left: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #1d1d1b;
  }
}

.productTabs {
  margin-top: 60px;
  display: flex;
  gap: 65px;
  align-items: flex-start;

  &_count {
    display: flex;
    align-items: baseline;
    gap: 5px;
    padding-top: 5px;
  }

  &_countValue {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #646360;
  }

  &_countLabel {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #ddd;
  }

  &_list {
    display: flex;
    gap: 40px;
    list-style: none;
  }

  &_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #ddd;
    padding: 5px 23px;
    box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #646360;
    background: none;
    cursor: pointer;
    transition: all $trans-default;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      border: 1.5px solid #cea56a;
      box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
      background: rgba(206, 165, 106, 0.2);
      color: #1d1d1b;
      pointer-events: none;
    }
  }
}

.catalog {
  display: grid;
  grid-template-columns: 185px 1fr;
  column-gap: 46px;
  margin-top: 33px;
  padding-bottom: 200px;

  &_sidebar {
    display: flex;
    flex-direction: column;

    h3 {
      margin-top: 0;
    }
  }

  &_sort {
    display: flex;
    gap: 15px;
  }

  &_sortLabel {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #646360;
  }

  &_header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &_sortList {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_sortItem {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #646360;

    &--active {
      font-weight: 700;
      color: #1d1d1b;
    }
  }

  &_gridIcons {
    display: flex;
    gap: 15px;
    margin-left: auto;
  }

  &_gridBtn {
    color: #dddddd;
    background: none;
    border: none;
    cursor: pointer;

    &--active {
      color: #cea56a;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    list-style: none;
    margin: 0;
    margin-top: 50px;
    padding: 0;
  }

  &_item {
    width: 320px;
    min-height: 512px;
  }

  &_link {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 rgba(44, 41, 33, 0.1);
    background: #fff;
    transition: all $tf-default;

    &:hover {
      backdrop-filter: blur(1px);

      .catalog_hoverFrame {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  &_textContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 15px;
  }

  &_priceRow {
    position: relative;
    width: 100%;
    padding-right: 30px;
  }

  &_hoverFrame {
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #cea56a;
    box-shadow: 4px 8px 20px 0 rgba(67, 65, 56, 0.3);
    background: #fff;
    border: 1px solid #cea56a;
    padding: 20px 51px;
    width: 320px;
    min-height: 88px;
    transition: $trans-modal;
    line-height: normal;
    vertical-align: middle;

    svg {
      position: absolute;
      right: 92px;
      bottom: 21px;
      padding-top: 0;
    }
  }

  &_price {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 135%;
    color: #cea56a;
  }

  &_favouritesBtn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: none;
    cursor: pointer;
    transition: all $trans-default;

    &:hover {
      opacity: 0.7;
    }
  }

  &_name {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #1d1d1b;
  }

  &_article {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #646360;
  }

  &_orderBtn {
    margin-top: 10px;
    padding: 8px 16px;
    width: 178px;
    min-height: 35px;
    box-shadow: inset 0 0 16px 0 rgba(158, 42, 42, 0.3),
      0 4px 9px -19px rgba(158, 42, 42, 0.3),
      0 2px 2px -2px rgba(222, 182, 41, 0.6);
    background: #cea56a;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #fff;
    border: none;
  }

  .ac .ac-trigger {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    font-family: var(--font-family);
    color: #1d1d1b;

    &:focus {
      color: #1d1d1b;
    }
  }

  &_checkboxList {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &_clearFilters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background: none;
    border: none;

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      color: #646360;
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }

  &_pagination {
    display: flex;
    gap: 7px;
    align-items: flex-end;
    width: fit-content;
    margin-top: 102px;
    margin-left: auto;
    margin-right: auto;
  }

  &_paginationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #1d1d1b;

    &--active {
      border-bottom: 2px solid #cea56a;
    }
  }
}

.custom-checkbox {
  padding: 0 8px;

  label {
    display: flex;
    padding: 4px 8px;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    font-family: var(--font-family);
    color: #646360;
  }

  input:checked + label {
    background: #cea56a;
    color: #fff;
  }
}
